.absolute-wrapper {
  position: absolute;
  z-index: 100;
  top: 200px;
  width: 90%;
  left: 50%;
  font-size: 30px;
  margin: auto;
  transform: translate(-50%);
  background: white;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .2) 0 1px 10px 0px;

  .absolute-title {
    border-bottom: 1px solid #EDEDED;
    padding: 10px 0;
    font-size: 35px;
  }

  .absolute-time {
    font-size: 25px;
  }

  .pd10 {
    padding-top: 10px;
  }
}
