.page-loading {
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
    padding-top: 10px;
    .text {
      line-height: 100px;
    }
    .no-data-title {
      font-size: 30px;
      color: #9b9b9b;
    }
    .loading {
      padding: 10px 0;
      justify-content: center;
    }
    .no-data {
      padding-top: 120px;
      .img {
        margin: 0 auto;
        width: 386px;
        display: block;
        height: 30px;
      }
      .img-text {
        width: 444px;
        height: 400px;
      }
    }
    .no-data-1 {
      margin-top: 60px;
      .img {
        display: block;
        margin: 0 auto;
        width: 364px;
        height: 31px;
      }
      .img-text {
        width: 444px;
        height: 400px;
      }
    }
    .no-data-2 {
      margin-top: 208px;
     .img {
       display: block;
       margin: 0 auto;
       width: 176px;
       height: 29px;
     } 
     .img-text {
       width: 444px;
       height: 400px;
     }
    }
}